/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env_master
.env_staging
.env.backup
.ssh
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/schemaspy
.php_cs.cache
cypress.env.json
.DS_Store
.htaccess